

/* Headers */

.md-typeset h1, .md-typeset h2, .md-typeset  h3 {
    font-family: "Caviar Dreams";
    font-weight: 700;
    color: var(--md-accent-fg-color);
    border-bottom-color: var(--md-accent-fg-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 0.3em;
    letter-spacing: 0.1em;
}

.md-typeset h2, .md-typeset h3 {
    margin: 1em 0 .64em;
}

.md-typeset h1 code, .md-typeset h2 code, .md-typeset h3 code, .md-typeset h4 code, .md-typeset h5 code {
    background-color: var(--md-code-bg-color);
    padding: 0.15em 0.3em;
}

/* Icon colors */

.md-typeset .emojione, .md-typeset .gemoji, .md-typeset .twemoji {
    color: var(--md-default-fg-color);
}

/* Code */

.md-typeset code {
    font-family: "Fira Mono";
    padding: 0.15em 0.3em;
}

/* Em */

.md-typeset em {
    color: var(--md-default-fg-color--light);
}

/* List */

.md-typeset ol, .md-typeset ul {
    margin: 0em;
}

.md-typeset ol li, .md-typeset ul li {
    margin-bottom: 0em;
}

p:has(+ ul) {
    margin-bottom: 0.25em;
}

/* Admonitions */

.md-typeset .admonition {
    font-size: 1em;
    margin: 0.45em 0;
}

.md-typeset .admonition-title {
	padding: 0rem .6rem 0rem 2rem;
	width: 7.5em;
	border-width: 0rem;
}

.md-typeset .admonition-title::before {
    margin-top: 0.1em;
}

html .md-typeset .admonition > p:not(.admonition-title), html .md-typeset .admonition > ul {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

html .md-typeset .admonition > :last-child, html .md-typeset details > :last-child {
    margin-bottom: 0.1rem;
}
